.App {
  text-align: center;
}


.list-group {
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
}


.list-item {
  list-style: none;
  font-size: large;
  font-weight: 700;
  padding: 7px;
  /* border: 2px solid red; */
  width: 30%;
}

.close {
  float: right;
  cursor: pointer;
}

.container h1 {
  margin-bottom: 50px;
  color: #f50057;
}